<!DOCTYPE html>
<html lang="ko">

<head>
    <title>Timing Rush - Data View</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
    <!-- Header -->
    <header id="header">
        <div class="logo"><a href="/game"> TimingRush <span> by PchM </span></a></div>
        <span class=span1> <%= data.user.nickname %> </span> 
        <span class=span2> <%= data.user.chip %> </span> 
        <span class=span2> CHIPS </span>
        <span class=span2><a href="/logout">LOGOUT</a></span>
    </header>

    <section class="wrapper style2">

        <div class="inner2">
            <section>
                <div class="box">
                    <div class="content">
                        <h2>데이터 테이블</h2>
                        <br>
                        <br>
                        <form method="post" action="#">
                            <div class="row uniform">
                                <div class="9u 12u$(small)">
                                    <input type="text" name="query" id="query" value="" placeholder="Query" />
                                </div>
                                <div class="3u$ 12u$(small)">
                                    <input type="submit" value="Search" class="fit" />
                                </div>
                            </div>
                        </form>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>유저번호</th>
                                    <th>게임번호</th>
                                    <th>닉네임</th>
                                    <th>시간</th>
                                    <th>금액</th>
                                    <th>당첨여부</th>
                                </tr>
                            </thead>
                            <tbody>

                                <% data.result.forEach(function (item,index){ %>
                                <tr>
                                    <td><%= item.no %></td>
                                    <td><%= item.user_no %></td>
                                    <td><%= item.game_no %></td>
                                    <td><%= item.nickname %></td>
                                    <td><%= item.att_date %></td>
                                    <td><%= item.rush_chip %></td>
                                    <td><%= item.win_check %></td>
                                </tr>
                                <% })%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>

    </section>

</body>

</html>