<!DOCTYPE html>
<html>

<head>

  <title>TimingRush!! Game-Room</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous"></script>
</head>

<body>
  <script>
     $(function() {
        $('#rush').on('click', function() {
          var queryString = $('#rushform').serialize();
          $.ajax({
            type: 'POST',
            url: '/join/<%= data.game.no %>',
            data: queryString,
            dataType: 'json',
            error: function(xhr, status, error) {
              alert(error);
            },
            success: function(json) {
              if(json.msg != undefined) alert(json.msg);
              else {
                  $('#logo_chip').html(json.data.user.chip);
                  $('#att_count').html(json.data.att_count);
                  alert("RUSH!");
              }
            }
          });
        });
      });
  </script>
    <header id="header">
        <div class="logo"><a href="/game"> TimingRush <span> by PchM </span></a></div>
        <span class=span1> <%= data.user.nickname %> </span> 
        <span class=span2 id='logo_chip'> <%= data.user.chip %> </span> 
        <span class=span2> CHIPS </span>
        <span class=span2><a href="/logout">LOGOUT</a></span>
        <br>
        <span class=span1>
            제목: <%= data.game.title %>
            Rush 횟수: <span id='att_count'><%= data.att_count %></span>/<%= data.game.att_limit %> 
            Rush 제한: <%= data.game.chip_limit %>
            당첨 범위: <%= data.game.range_begin %>~<%= data.game.range_end %>
            게임 시간: <%= data.game.start_date %>~<%= data.game.finish_date %>
        </span>
    </header>
    <div>
       
    </div>

  <section id="one" class="wrapper style2">
    <div class="inner2">
      <br>
      <br>
      <br>
      <br>
      <section>
        
          <div>
            <textarea id="gameBox" class="game_box" readonly></textarea>
            <textarea id="chatLog" class="chat_log" readonly></textarea>
          </div>
          <div class="row uniform">
          <form method="post" action="#" id="rushform">
            <div class="5u 12u$(xsmall)">
              <input type="text" name="chip" id="bet" value="" placeholder="금액" />
            </div>
            <div class="2u 12u$(xsmall)">
              <input type="button" value="RUSH" class="button fit" id="rush"/>
            </div>
          </form>
            <div class="4u 12u$(xsmall)">
              <input type="text" class="message" id="message" />
            </div>
            <div class="1u 12u$(xsmall)">
              <input type="submit" class="submit special small" value="chat" id="chat" />
            </div>
          </div>

          <div id="box" class="box">
            <script>

            </script>
      </section>
    </div>
  </section>
</body>
</html>